.container
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field.form-group
      = f.label :name
      %br/
      = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"
    .field.form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .field.form-group
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: "form-control"
    .field.form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
    .actions
      = f.submit "Sign up", class: "btn btn-outline-primary"
      %span or
      = render "devise/shared/links"
