.container
	%h1 All Users

	%h3 #{flash[:notice]}

	- if current_user
		= link_to 'Change password', edit_registration_path(:user)
		%br
		= link_to 'Log out', destroy_user_session_path, :method => :delete
	- else
		= link_to 'Sign in', new_session_path(:user)
		%br
		= link_to 'Sign up', new_registration_path(:user)

	.table-responsive.mt-3
		%table#users.table
			%thead
				%tr
					%th Name
					%th Email
			%tbody
				- @users.each do |user|
					%tr
						%td= user.name
						%td= user.email
