.container
	#viewDiv
	
	%h3 #{flash[:notice]}

	.table-responsive
		%table#Onduties.table
			%thead
				%tr
					%th ID
					%th Driver
					%th Plate#
					%th Student
					%th StudentId
					%th VehicleLat
					%th VehicleLng
					%th Startlat
					%th Startlng
					%th Endlat
					%th Endlng

			%tbody
				- @onduties.each do |onduty|
					%tr{ :class => onduty.isAlert ? "table-danger" : "" }
						%td= link_to onduty.id, onduty_path(onduty)
						%td= onduty.driverName
						%td= onduty.plateNumber
						%td= onduty.studentName
						%td= onduty.studentId
						%td= onduty.vehicleLat
						%td= onduty.vehicleLng
						%td= onduty.startLat
						%td= onduty.startLng
						%td= onduty.endLat
						%td= onduty.endLng
:css
	#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	}
%link{:href => "https://js.arcgis.com/4.10/esri/css/main.css", :rel => "stylesheet"}/
%script{:src => "https://js.arcgis.com/4.10/"}
:javascript
	require([
		"esri/Map",
		"esri/views/MapView",
		"esri/layers/TileLayer",
		"dojo/domReady!"
	], function(Map, MapView, TileLayer) {
				var map = new Map();
				var view = new MapView({
						container: "viewDiv",
						map: map,
						scale: 8000,
		 				center: [-96.34696, 30.61364]
				});
				var layer = null, 
				layerUrl = "https://gis.tamu.edu/arcgis/rest/services/FCOR/BaseMap_011019/MapServer",
				layer = new TileLayer(layerUrl, null);
				map.layers.add(layer);
	});

//  Javascript for google map
// :javascript
// 	let duties = #{ @onduties.to_json.html_safe };
// 	let handler = Gmaps.build('Google');
// 	handler.buildMap({
// 		internal: { id: 'map' }
// 	}, () => {
// 		if (duties.length == 0) {
// 			let marker = handler.addMarker(HRBB.loc);
// 			handler.map.centerOn(marker);
// 			handler.getMap().setZoom(HRBB.zoom);
// 		} else {
// 			let markers = handler.addMarkers(
// 				duties.map(duty => getVehicleMarker(duty))
// 			);
// 			handler.bounds.extendWith(markers);
// 			handler.fitMapToBounds();
// 		}
// 	});
