.container
	#viewDiv
		#amap
	%h3 #{flash[:notice]}

	.table-responsive
		%table#Onduties.table
			%thead
				%tr
					%th ID
					%th Driver
					%th Plate#
					%th Student
					%th StudentId
					%th VehicleLat
					%th VehicleLng
					%th Startlat
					%th Startlng
					%th Endlat
					%th Endlng

			%tbody
				- @onduties.each do |onduty|
					%tr{ :class => onduty.isAlert ? "table-danger" : "" }
						%td= link_to onduty.id, onduty_path(onduty)
						%td= onduty.driverName
						%td= onduty.plateNumber
						%td= onduty.studentName
						%td= onduty.studentId
						%td= onduty.vehicleLat
						%td= onduty.vehicleLng
						%td= onduty.startLat
						%td= onduty.startLng
						%td= onduty.endLat
						%td= onduty.endLng
// :css
// 	#viewDiv {
// 	padding: 0;
// 	margin: 0;
// 	height: 100%;
// 	width: 100%;
// 	}
%link{:href => "https://js.arcgis.com/4.10/esri/css/main.css", :rel => "stylesheet"}/
%script{:src => "https://js.arcgis.com/4.10/"}
