!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "reload", :name => "turbolinks-visit-control"}/
    %title Vehicle Interface
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    // scripts for google map
    // scripts needed for gem "gmaps4rails"
    // %script{:src => "//maps.google.com/maps/api/js?key=AIzaSyCLRQ5YdbKITiUMTRPq1oAhPNR2Oup-d7c"}
    // %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
    // %script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"}
    // %script{:src => "//underscorejs.org/underscore-min.js"}
    :css
      html, body{
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      }

  %body
    #remote_container
    %nav.navbar.navbar-expand-md.navbar-dark.bg-maroon
      %a.navbar-brand{:href => "/"} TAMUber
      %button.navbar-toggler{"aria-controls" => "navbar-content", "aria-expanded" => "false", "aria-label" => "Toggle Navigation", "data-target" => "#navbar-content", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbar-content.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %a.nav-link{:href => "/"} Home
          %li.nav-item
            %a.nav-link{:href => requests_path} Requests
          %li.nav-item
            %a.nav-link{:href => schedules_path} Schedules
          %li.nav-item
            %a.nav-link{:href => vehicles_path} Vehicles
          %li.nav-item
            %a.nav-link{:href => drivers_path} Drivers
          %li.nav-item
            %a.nav-link{:href => users_index_path} Admins
    #viewDiv
    = yield
